<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general :: header">
    <title>Alle Kurse</title>
</head>
<body>

<div class="container">
    <div th:insert="fragments/general :: navigation"></div>
</div>


<!-- content -->
<main id="main">

    <section id="space" class="space-section"></section>
    <section id="space list">
        <div class="container">
            <div class="section-title">
                <h2>Alle Kurse</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                    fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>


            <div style="margin-bottom: 5px;">
                <a th:href="@{/webapplications/create}" class="btn btn btn-success" role="button">
                    <i class="fa fa-users" aria-hidden="true"></i> WebApplication hinzufügen</a>
            </div>





                    <div class="table-responsive wishlist-table margin-bottom-none">



                        <table class="table ">
                            <thead>
                            <tr>
                                                                                               <th>applicationName</th>
                                                                   <th>packageName</th>
                                                                   <th>addSecurity</th>
                                                                   <th>addLocalization</th>
                                                                   <th>inputModel</th>
                                                                   <th>webStyle</th>
                                                            
                            <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="webapplication : ${webapplications}">

                                                                     <td th:text="${webapplication.applicationName}"></td>
                                                                     <td th:text="${webapplication.packageName}"></td>
                                                                     <td th:text="${webapplication.addSecurity}"></td>
                                                                     <td th:text="${webapplication.addLocalization}"></td>
                                                                     <td th:text="${webapplication.inputModel}"></td>
                                                                     <td th:text="${webapplication.webStyle}"></td>
                                                                <td>
                                    <input id="webapplicationid" type="hidden" th:value="${webapplication.id}" >
                                    <a th:href="@{/webapplications/edit/{id}(id=${webapplication.id})}" class="btn btn-success btn-sm" role="button">Bearbeiten</a>
                                    <form th:action="@{/webapplications/{id}(id=${webapplication.id})}" th:object="${webapplication}" th:method="delete" style='display:inline;'>
                                        <button type="submit" class="btn btn-danger btn-sm">Löschen</button>
                                    </form>

                                </td>
                            </tr>
                            </tbody>
                        </table>


            </div>


        </div>
    </section>
</main>
<div th:replace="fragments/general.html :: footer"></div>
<div th:replace="fragments/general.html :: jquery"></div>
<div th:replace="fragments/general.html :: bootstrap"></div>



</body>
</html>

